# Created by .ignore support plugin (hsz.mobi)
/views/node_modules/
/views/dist/
/logs/
/.idea/
/views/package-lock.json
/test/
/views/*.log
/vue/node_modules/
/vue/dist/
/ElasticView.exe
/ElasticViewLinux
/ElasticViewMac
/es_view.db
/lock
/*.exe~
/task/
/es_view.db-journal
/data/es_view.db
/data/lock
